body {
  background-image: url(OIP.jpeg) ;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 5%;
  max-width: fit-content;
  max-height: fit-content;
}

h1 {
  text-align: center;
}

.labels {
  margin-left: 10px;
}
